################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vscode
/projectfiles/visualstudio-2019/enc_temp_folder
.DS_Store
obj/
._*
fbneo
roms
nvram
*.nvr
*.pdb
*.obj
*.o
/Gep/Project/win32/Debug
/Gep/Project/win32/Release
/SNESticle/.vs/SNESticle/v16
/SNESticle/Backup
/SNESticle/Project/win32/Debug
/SNESticle/Project/win32/Release
/SNESticle/Project/win32/win32.vcxproj.user
